/*-- scss:defaults --*/
// Base document colors
// $body-bg: #ffffff;
// $body-color: #ccc;
$link-color: #e03a2e;

// Code blocks
$code-block-bg-alpha: -.9;


// /* Navbar background color */
.navbar {
//       background-color: #ffffff !important; /* White background */
      border-bottom: 1px solid #a9a9a9 !important; /* Orange border */
    }
    
//     /* Navbar text color */
//     .navbar a, .navbar .navbar-brand {
//       color: #000000 !important; /* Black text */
//     }
    

